{% extends './template/base.njk' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="col">
    <h1><strong>Welcome Home</strong></h1>
    <h4><p>The goal of this project is to provide a safe alternative networking space for recovery communities to develop and individuals to connect. As addict we all have one thing in common that makes us uniquely capable of understanding and releting to one another. We are a global family, a tribe and we can all benefit from our connection with eachother. We are glad you're here. Especially in tough times, you're always welcome.</p></h4>
    <h4><strong>Just keep coming back.</strong></h4>
</div>
{% endblock %}