{% extends './template/base.njk' %}
<script>
function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
}
</script>
{% block title %}Home{% endblock %}
{% block content %}
<div class="col">
    <div class="pb-4">
        <strong><h4>Social connection for a sober community.</h4></strong>
        <p>When new in recovery it may be hard to disconnect from some of our social triggers in a digital landscape defined by hyperconnective social iteractions. Disconnnecing from conventional social media can be helpful and is often reccomended but staying connected to and building sober support networks is vital as well.</p>
    </div>
        {# <h3>Just for Today</h3>
        <div class="iframe-container">
            <iframe title="Just for Today" border="none" class="embed-responsive-item" src="http://www.jftna.org"/><a class="sml-text align-self-center" href="http://www.jftna.org">jftna.org</a></iframe>        </div> #}
    <div class="iframe-container">
        <iframe src="https://www.youtube.com/embed/PY9DcIMGxMs" title="Everything you think you know about addiction is wrong | Johann Hari" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h4 class="sml-text pb-4">Rethinking notions of Addiction</h4>
    <div class="pb-4">
        <a href="https://americanaddictioncenters.org/sobriety-guide/coping-mechanism"><h4>Substance Use as a Coping Mechanism</h4></a>
        <p >Addiction is a coping mechanism.</p>
    </div>
    <div class="pb-4">
        <a href="https://en.wikipedia.org/wiki/Evolutionary_models_of_human_drug_use#:~:text=Archeological%20evidence%20indicates%20the%20presence,approximately%2010%20million%20years%20ago."><h4>Archeological evidence indicates early hominid substance use dating back 200 million years.</h4></a>
        <p>Addiction is in part, in our heritage.</p>
    </div>
    {% endblock %}