{% extends './template/base.njk' %}
{% block title %}Just for Today{% endblock %}
{% block content %}
<div class="col">
    <h3>Just for Today</h3>
    <div class="iframe-container">
        <iframe title="Just for Today" border="none" class="embed-responsive-item" src="http://www.jftna.org"/><a class="sml-text align-self-center" href="http://www.jftna.org">jftna.org</a></iframe>
    </div>
</div>
{% endblock %}